#mainmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 83, 168);
  }
  
  #mainmenu li {
    float: left;
  }
  
  #mainmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #mainmenu li a:hover:not(.active) {
    background-color: #111;
  }
  
  #mainmenu .active {
    background-color: #04AA6D;
  }

  #lapassaturs {
      width: 80%;
      height: 200px;
  }
  #lapasvirsraksts {
    width: 80%;

}